<!--Header-->
<div class="droidtechknow-hedaer">
  <!--Navigation bar-->
  <mat-card>
    <nav class="navbar navbar-inverse" [appChangeTheme]="themeColor">
      <div class="container-fluid">
        <div class="navbar-header text-center">
          <button type="button" class="navbar-toggle" id="searchButton">
            <span class="fa fa-search"></span>
          </button>
          <button style="float:left" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="/" title="Anroid Root, Tutorials, Reviews and Trick">
                  <!-- <img class="img img-responsive"
                    alt="DroidTechKnow" title="DroidTechKnow" width="50px" src="//droidtechknow.com/images/logo.png"> -->
                  <i class="fa fa-home droidtechknow-header-icon"></i>
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav" style="float: right;padding: 6px 0 0 8px">
              <li>
                <button mat-icon-button [matMenuTriggerFor]="theme">
                  <mat-icon><i class="fas fa-palette droidtechknow-header-icon"></i></mat-icon>
                </button>
                <mat-menu #theme="matMenu" class="droidtechknow-theme text-center">
                  <button *ngFor="let color of themecolors" (click)="changeTheme(color, false)" mat-menu-item
                    class="droidtechknow-theme-picker" [ngStyle]="{'background': color}">
                    <i [ngStyle]="{'color': themeColor==color ? 'white' : color}" class="fas fa-check"></i>
                  </button>
                </mat-menu>
              </li>
              <li>
                <button mat-icon-button [matMenuTriggerFor]="user">
                  <mat-icon><i class="fas fa-user-circle droidtechknow-header-icon"></i></mat-icon>
                </button>
                <mat-menu #user="matMenu" class="droidtechknow-theme text-center">
                  <button mat-menu-item class="droidtechknow-user">Admin Panel</button>
                  <button mat-menu-item class="droidtechknow-user">Log out</button>
                </mat-menu>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </mat-card>
</div>
<div class="droidtechknow-sub-header" [appChangeTheme]="themeColor">
  <h1>DroidTechKnow</h1>
</div>