.todo-list-container {
  position: relative;
  /*box-shadow: 0 -5px 10px rgba(0, 0, 0, .08);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .todo-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .todo-box {
    width: 100%;
  }

  .todo-in-progress {
    padding: 0;
  }

  .todo-completed {
    opacity: 0.8;
    padding: 0;

    h2 {
      color: rgb(22, 201, 4);
    }
  }

  .todo-list-completed {
    padding: 0;
  }
}