.todo-list-container {
  position: relative;
  width: 90%;
  /*box-shadow: 0 -5px 10px rgba(0, 0, 0, .08);*/
  display: flex;
  flex-wrap: wrap;

  .todo-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .todo-in-progress {
    flex: 2 1 600px;
    width: 60%;
  }

  .todo-completed {
    flex: 1 1 300px;
    /*background: #cecece;*/
    opacity: 0.8;
    width: 30%;

    h2 {
      color: rgb(22, 201, 4);
    }
  }

  .todo-list-completed {
    padding: 0;
  }
}