.__Analytics {

    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .datePicker {
        width: 100%;
        padding: 8px 12px;
        border: none;
        border-bottom: 1px #ccc solid;
    }

}