/deep/ ng2-smart-table thead > tr > th  { 
    background-color: rgba(5, 4, 4, 0.05);  
    color: rgb(58, 58, 56);
}
/deep/ ng2-smart-table .ng2-smart-sort-link { 
    color: #50504C !important;
}
/deep/ ng2-smart-table input-filter {
    color: #50504C;
}

/deep/ ng2-smart-table  .ng2-smart-action {
    display: inline-block;
    border: solid 1px #D1D1B5;
    color: #50504C !important;
    text-decoration: none !important;
    padding: 5px 8px;
    margin: 1px 0px;
}

/deep/ ng2-smart-table  .ng2-smart-action-edit-edit:hover, /deep/ ng2-smart-table  .ng2-smart-action-delete-delete:hover {
    border: solid 1px #89897B;
}

