.page-title {
  padding: 15px;
  color: #22313F;
  font-size: 1.6em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.page-title h1 {
  margin: 0;
}

.page-title .tag {
  padding: 0;
  color: #3A539B;
  font-weight: bold;
  font-size: .7em;
  width: 18em;
  animation: type 2s steps(200, end);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

.tag .caret {
  animation: blink 1s;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

.page-title [class*=icon] {
  font-size: 1em;
  color: #26A65B;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.opaque {
  opacity: 0.4;
}

.main-wrap {
  border: solid 1px #2c3033;
  max-width: 350px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 500;
  max-height: 460px;
  background: #22313F;
  color: #fff;
  opacity: .9;
}

.hidden {
  display: none;
}

.app-header {
  width: 100%;
  height: 50px;
  background-color: #2980b9;
  font: bold 18px/50px arial;
  text-align: center;
  color: white;
  margin: 0;
}

.main-content {
  padding: 15px 30px;
}

#todoForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Row */

div.row {
  margin: 0 10px;
  padding: 10px 0;
}

.row.submit-btn {
  min-width: 150px;
}

/** Form Elements **/

label {
  display: block;
  font-size: 1.2em;
}

input, select, textarea {
  border-radius: 3px;
  border: 1px solid #aebdc1;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.625em;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  min-width: 250px;
}

.primary-button {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  display: block;
  color: #fff;
  background-color: #2980b9;
  border-color: #48c9b0;
  box-shadow: none;
  border: none;
  padding: 15px 0;
  max-width: 250px;
}

.todo-list-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  /*box-shadow: 0 -5px 10px rgba(0, 0, 0, .08);*/
  display: flex;
  flex-wrap: wrap;
}

.todo-list-container .todo-in-progress {
  flex: 2 1 600px;
  width: 60%;
}

.todo-in-progress h2 {
  color: #8F1D21;
}

.todo-list-container .todo-completed {
  flex: 1 1 300px;
  /*background: #cecece;*/
  color: rgb(22, 201, 4);
  opacity: .8;
  width: 30%;
}

.todo-list-completed {
  padding: 0;
}

.todo-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.todo-list .todo-item {
  will-change: transform;
  position: relative;
  background-color: #fafafa;
  flex: 1 1 calc(48% - 40px);
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3), 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  padding: 0 20px 0 20px;
  margin: 15px 2% 15px 0;
  min-width: 260px;
}

.todo-item.over {
  border: 2px dashed #000;
}

.todo-item .todo-description {
  line-height: 1.2em;
  font-size: 1em;
  width: 85%;
}

.todo-item.done .todo-description {
  text-decoration: line-through;
}

.todo-item .todo-title {
  color: white;
  margin: 0 -20px;
  padding: 15px 20px;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
  cursor: pointer;
}

.todo-item .todo-title .icon-checkbox {
  display: none;
}

.todo-item .icon-checkbox:hover .icon-checkbox-outline {
  display: block;
}

.todo-item .icon-checkbox:hover .icon-checkbox {
  display: block;
}

.todo-item .todo-priority {
  -webkit-appearance: none;
  font-size: 1em;
  text-shadow: none;
  line-height: 1.2em;
  border-radius: 3px;
  border: 3px solid #fff;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 5px;
}

.todo-item.new {
  border: 2px dashed darkblue;
  flex: 2 1 1;
}

.new .todo-title {
  background-color: #2980b9;
  cursor: pointer;
  padding: 40px 20px;
  font-size: 1.2em;
}

.todo-item .pad-15 {
  padding: 15px;
}

.high .todo-title, .high .todo-priority, .high [class*='icon'] {
  background-color: #cd4436;
}

.medium .todo-title, .medium .todo-priority, .medium [class*='icon'] {
  background-color: #f19f0f;
}

.low .todo-title, .low .todo-priority, .low [class*='icon'] {
  background-color: #2ac56c;
}

.todo-list .icon-delete {
  position: absolute;
  right: 0px;
  text-decoration: none;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  z-index: 0;
  cursor: pointer;
}

.todo-list .icon-delete:hover::after {
  color: #fff;
}

.todo-list .icon-delete:hover::before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  z-index: -1;
}

.todo-list .icon-delete::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 50%;
  content: '';
  opacity: 0;
  background: #000;
  color: white;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.todo-list-completed .todo-item {
  color: darkgrey;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: relative;
}

.todo-list-completed .icon-delete {
  display: none;
  cursor: pointer;
}

.todo-list-completed .todo-item:hover .icon-check {
  display: none;
}

.todo-list-completed .todo-item:hover .icon-delete {
  display: block;
}

.todo-list-completed .todo-item .content {
  padding: 15px 10px;
  flex: 1;
  font-size: 1.2em;
  text-decoration: line-through;
}

/** TODO List **/

li {
  list-style-type: none;
}

/** Footer **/

.footer {
  font-size: 1.5em;
  color: #ffa617;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  opacity: .6;
  background-color: #22313F;
}

.footer [class*=icon] {
  font-size: 1.4em;
  padding: 10px 10px;
  line-height: 1.5em;
  vertical-align: sub;
}

span.action {
  float: left;
  margin: 0 15px 0 0;
}


