.loading {
  color: white;
  text-align: center;
  margin: 8px;
  font-size: 20px;
}

.scrol {
  height: 33vh;
  background: #ffa617;
  color: white;
  margin: 8px;
  text-align: center;
  cursor: pointer;
}

