.__Card {
    .titleBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdownButton {
        background: #23212d4f;
        padding: 10px 12px 6px 12px;
        border-radius: 50%;
        cursor: pointer;
    }

}